body{
	background-color: #ffffff;
}
.top-header{
  background-color: #0B8C3C !important;
  color:#f5f5f5 !important;
      height: 44px;
}
.menu-scroll{
	    margin-top: 44px;
}
  button:hover{
  	background-color:none;
  }
.popup-head {
border-bottom: 1px solid #ccc !important;
}
.popup-title{
    font-size: 20px !important;
    color: #0b8c3c !important;
}
.top-header  .slide-img2-1{
    margin-left: 6%;
height: 39px;
    z-index: 90;
}
.top-header div .slide-img2-2{
    margin-left: 22%;
height: 48px;
}


.button{
	background-color: #0b8c3c !important;
	color:#fafafa !important;
}

.bar-positive .button ,

.bar-positive .button.activated {
border-color: #0b8c3c !important;
}
.menusection{
	height: 100%;
	width: 100%;
	background-color:#fafafa; 
	border-top: 2px solid #0b8c3c;
}
.menusection .card{
	background-color:#fafafa; 
}
.card:nth-child(2)
{
	margin: 0 !important;
	min-height: 462px;
	border-radius: 0 ;
	
}
.card{
	box-shadow: none !important;
	margin-top:35px;
}
.menu-list{
border-style: none;
border-color:#fafafa;
border-width: 0px;
float: left;
left:11%;
min-height: 100px !important;
background-color: #fafafa;

}
.menu-list:nth-child(1),.menu-list:nth-child(4)
{
border-right: 1px solid #ddd !important;
}
#mainmenu{
	float: none;
	left: 35%;
	
	margin-bottom: 12px !important;
}
.menu-list img{
  display: block;
  z-index: -1;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
  margin: 10px;
  border: 2px solid #0b8c3c;
  max-height: 90px !important;
  max-width: 90px !important;
  top: -8px !important;
    left: 11px !important;

}
#mainmenu img
{
	border: none !important;
	box-shadow: 0px 0px 4px 0px #ddd;
	margin-top: 15px;

}
.menu-list h2{
	text-transform: uppercase;
    font-size: 12px;
    margin-top: 84px;
	
}
.menu-list .h2-title{
	    margin-left: -17px;
}
.wrap-list{
	    margin-top: 44px;
	border-radius: 4px;
}
.responsive-sm .col{
margin-bottom: 8px;
}
.wrap-item-list{
	border-radius: 6px !important;
	    background-color: #f6f6f6;
	    padding: 14px;
}
.wrap-item-list img{
	    width: 30%;
	    float: left;
	    height: 100px;
	    margin-right: 10px;
}
.wrap-item-list h2 {
	float: left;
}
.wrap-item-list p{
float: left;
width: 65%;
}
.wrap-item-list h3{
	float: left;
	margin-top: 8px;
}
.wrap-item-list .cart{
	float: left;
	margin-top: 25px;
	       margin-left: -60px;
    line-height: 15px;
    min-height: 20px;
    background-color: #fafafa !important;
    color: #0b8c3c !important;
    border-color: #0b8c3c !important;
    text-transform: uppercase;
    font-size: 12px;
}
.wrap-item-list .cart:hover{
    background-color: #0b8c3c !important;
    color: #fafafa !important;
    text-transform: uppercase;
}
/*
.wrap-item-list .quickview{
	margin-left: 20px;
}
*/
.wrap-item-list .h3-color{
color: #0b8c3c;
font-weight: bold;
margin-left: 5px;
}
.saladmenu{
	    width: 152px;
    margin-left: 30px;
}
.wrapmenu{
	width: 150px;
	height: 118px;
}
.dessertmenu{
	    width: 150px;
    height: 120px;
}
.wrap-dropdown{
	border-radius: 6px !important;
}
.full-image{
	    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.description-head{
	text-align: center;
}
.desc-cart{
	float: right;
}
.loginform{
	    margin-top: 80px;
}
.signupform{
	margin-top:10px;
}
.loginform img , .signupform img{
	height: 120px;
        width: 355px;
}
.loginlabel{
	    margin: 15px 20px 15px 20px;
    border-radius: 5px;
}
.loginlabel .span-style {
font-weight: bold;
color: #ffffff;
}
.loginlabel .input-style{
	font-weight: bold;
	color: white;
	height: 20px;
	}
.login-btn{
	    margin-left: 18px;
    border-radius: 5px !important;
    width: 90% !important;
        background-color: #7d0013!important;
}
.login-btn:hover{
	background-color: #0b8c3c !important;

}
.wrapscol{
	cursor: url('http://ionicframework.com/img/finger.png'),
	auto;
}
/* Empty. Add your own CSS if you like */

